@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$font-erica: 'Erica One', cursive;
$font-worksans: 'Work Sans', sans-serif;
$font-luckiest: 'Luckiest Guy', cursive;
$font-fuzzy: 'Fuzzy Bubbles', cursive;
$font-josefin: 'Josefin Sans', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

$font-size-text: 25px;
$font-size-sub-text: 20px;
$font-size-title: 50px;
$font-size-sub-title: 35px;

$font-size-text-res: 5vw;
$font-size-sub-text-res: 4vw;
$font-size-title-res: 10vw;
$font-size-sub-title-res: 8vw;

p {
  margin: unset;
}

@mixin display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin display-flex-wrap-center {
  @include display-flex-wrap();
  align-content: center;
  justify-content: center;
}

@mixin breakpoint($point) {
  @if $point == desktop {
      @media (max-width: 1440px) {
          @content;
      }
  } @else if $point == laptop-medium {
    @media (max-width: 1250px) {
        @content;
    }
  } @else if $point == laptop {
      @media (max-width: 1120px) {
          @content;
      }
  } @else if $point == tablet-medium {
    @media (max-width: 940px) {
        @content;
    }
  } @else if $point == tablet {
      @media (max-width: 900px) {
          @content;
      }
  } @else if $point == phablet {
      @media (max-width: 768px) {
          @content;
      }
  } @else if $point == mobile-m {
    @media (max-width: 560px) {
        @content;
    }
  } @else if $point == mobile {
      @media (max-width: 500px) {
          @content;
      }
  } @else {
      @media ($point) {
          @content;
      }
  }
}